.pip {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff97;
  /* position: relative; */
}
.pip__model {
  border-radius: 10px;
  position: fixed;
  width: 500px;
  height: 300px;
  background-color: white;
  /* position: absolute; */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.587);
}
.pip__top {
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}
.pip__top > p {
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.pip__topCloseIcon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 999px;
  background-color: var(--fbbg);
  color: grey;
  cursor: pointer;
}
.pip__info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.pip__postContent {
  width: 100%;
  height: 140px;
  border: none;
  outline: none;
  font-size: 25px;
  /* color: var(--fbblue); */
}
.pip__postContent::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: lightgrey;
}
#filePicker {
  display: none;
}
