.home {
  position: relative;
  width: 100vw;
}
.home__bottom {
  padding-top: 25px;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #ebeaea;
  display: flex;
  justify-content: space-between;
}
