.profile {
  width: 100%;
}
.profile__header {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 2px lightgrey;
}
.profile__headerContainer {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.profile__headerCover {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}
.profile__headerBottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__headerBottomMenu {
  width: 800px;
  display: flex;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
}
.profile__headerBottomNames {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile__headerBottomNames > h2 {
  font-size: 30px;
}
.profile__headerBottomNames > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: grey;
}
.profile__headerBottomMenuLeft {
  display: flex;
}
.profile__headerBottomMenuOption {
  margin: 5px 0;
  border-radius: 7px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-weight: 600;
  cursor: pointer;
}
.profile__headerBottomMenuOption:hover {
  background-color: var(--fbbg);
}
.profile__headerBottomMenuOption:active {
  color: var(--fbblue);
  /* border-bottom: 5px solid var(--fbblue); */
}

.profile__headerProfilePicture {
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 999px;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile__body {
  width: 100%;
}
.profile__bodycontainer {
  width: 840px;
  margin: 0 auto;
}
.profile__bodyRequst {
  margin: 15px 0;
  padding: 10px;
  width: calc(100%-20px);
  background-color: white;
  border-radius: 10px;
}
.profile__bodyBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile__bodyBottomLeft {
  width: 322px;
}
.profile__bodyBottomPhotos {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
.profile__bodyBottomPhotosTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profile__bodyBottomPhotosContainer {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 98px);
}
.profile__bodyBottomPhotosContainer > img {
  width: 98px;
  height: 98px;
}

.profile__bodyBottomFriends {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.profile__bodyBottomFriends > h3 {
  margin-bottom: 10px;
}
.profile__bodyBottomFriends > p {
  color: grey;
  font-size: 16px;
  margin-bottom: 10px;
}
.profile__bodyBottomFriendsContainer {
  width: calc(100% - 20px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 94px);
}

/* igbiygbyigbiygiug */
.profile__bodyBottomRight {
  width: 503px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
