.profile {
  width: 100%;
}
.profile__header {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 2px lightgrey;
}
.profile__headerContainer {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.profile__headerCover {
  width: 100%;
  height: 320px;
  overflow: hidden;
  background-color: var(--fbbg);
  border-radius: 0 0 10px 10px;
  position: relative;
}
.profile__headerCoverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile__headerCoverButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}
.profile__headerCoverButton > p {
  margin-left: 5px;
  font-weight: 800;
}
.profile__headerBottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__headerBottomMenu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
}
.profile__headerBottomNames {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile__headerBottomNames > h2 {
  font-size: 30px;
}
.profile__headerBottomNames > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: grey;
}
.profile__headerBottomMenuLeft {
  display: flex;
}
.profile__headerBottomMenuOption {
  margin: 5px 0;
  border-radius: 7px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-weight: 600;
  cursor: pointer;
}
.profile__headerBottomMenuOption:hover {
  background-color: var(--fbbg);
}
.activeTab {
  color: var(--fbblue);
  background-color: var(--fbbg);
}
.profile__headerBottomMenuRightEdit {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--fbbg);
  cursor: pointer;
}
.profile__headerBottomMenuRightEdit > p {
  margin-left: 5px;
  font-weight: 800;
}
.profile__headerBottomMenuRightEdit:hover {
  background-color: var(--fbbgdark);
}
.profile__headerBottomMenuRightAddFriend {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--fbbg);
}
.profile__headerBottomMenuRightAddFriend > p {
  font-weight: 800;
  margin-left: 5px;
}
..profile__headerBottomMenuRightAddFriend:hover {
  background-color: var(--fbbgdark);
}
.profile__headerProfilePicture {
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 999px;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__headerProfilePictureButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: var(--fbbg);
  border-radius: 999px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile__bottomBody {
  width: 840px;
  margin: 0 auto;
}
