.profile {
  width: 100%;
}
.profile__header {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 2px lightgrey;
}
.profile__headerContainer {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.profile__headerCover {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}
.profile__headerBottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__headerBottomMenu {
  width: 800px;
  display: flex;
  border-top: 1px solid lightgrey;
  margin-top: 10px;
}
.profile__headerBottomNames {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile__headerBottomNames > h2 {
  font-size: 30px;
}
.profile__headerBottomNames > p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  color: grey;
}
.profile__headerBottomMenuLeft {
  display: flex;
}
.profile__headerBottomMenuOption {
  margin: 5px 0;
  border-radius: 7px;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  font-weight: 600;
  cursor: pointer;
}
.profile__headerBottomMenuOption:hover {
  background-color: var(--fbbg);
}
.activeTab {
  color: var(--fbblue);
  background-color: var(--fbbg);
}

.profile__headerProfilePicture {
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 999px;
  border: 5px solid white;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__headerProfilePicture > * {
}

.profile__bottomBody {
  width: 840px;
  margin: 0 auto;
}
