.validLogin {
  width: 100vw;
  height: 100vh;
}
.VL__contents {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VL__contents > img {
  width: 200px;
  margin-bottom: 20px;
}
.VL__container {
  border-radius: 10px;
  background-color: white;
  width: 370px;
  height: 400px;
}
.VL__top {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.VL__top > p {
}
.VL__formContainer {
  padding: 10px;
  width: 100%;
}
.VL__formEmailInput,
.VL__formPasswordInput {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  /* border: 1px solid lightgrey; */
  outline: none;
}
.VL__formEmailErrorText,
.VL__formPasswordErrorText {
  height: 20px;
  display: flex;
  align-items: center;
}
.VL__formEmailErrorText > p,
.VL__formPasswordErrorText > p {
  font-size: 14px;
  color: red;
}
.VL__formContainer > form > button {
  display: none;
}
.VL__formLoginButton {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--fbblue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.VL__formLoginButton > p {
  color: white;
  font-weight: 800;
  font-size: 18px;
}
