.messengerModal {
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  height: 400px;
  width: 370px;
  position: absolute;
  top: 55px;
  right: 20px;
  box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.504);
  padding: 15px 10px;
}
