.headerOptions {
  display: flex;
  align-items: center;
}
.headerOptions__iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: var(--fbbg);
  width: 40px;
  height: 40px;
  margin-left: 7px;
}
.headerOptions__iconWrapper:hover {
  background-color: #dfdede;
}
.headerOptions__iconWrapper-active {
  background-color: #dcf3ff;
  color: var(--fbblue);
}
