.FBLoading {
  display: inline-block;
  /* position: relative; */
  /* top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FBLoading__box {
  width: 25%;
  height: 55%;
  background: blue;
  animation: facebookLoader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.FBLoading__box:nth-child(1) {
  animation-delay: -0.24s;
}
.FBLoading__box:nth-child(2) {
  animation-delay: -0.12s;
}
.FBLoading__box:nth-child(3) {
  animation-delay: 0;
}
@keyframes facebookLoader {
  0% {
    height: 90%;
  }
  50%,
  100% {
    height: 55%;
  }
}
