.loadingCircle {
  height: fit-content;
  width: fit-content;
}
.loadingCircle__svg {
  width: 30x;
  height: 30px;
  position: relative;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingCircle__svg > circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: white;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 440;
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: 880;
  }
}
