.sidebarOptions {
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarOptions:hover {
  background-color: #d3d3d3;
}
.sidebarOptions__icon {
  margin: 10px 15px 10px 10px;
}
.sidebarOptions > h5 {
  font-size: 18px;
  font-weight: 200;
}
