.login {
  width: 100%;
  height: 100vh;
  background-color: var(--fbbg);
  position: relative;
  /* display: grid;
  place-items: center; */
}
.login__contents {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  /* align-items: center; */
}
.login__left {
  width: 600px;
  padding-top: 70px;
  /* margin-right: 50px; */
}
.login__left > h2 {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  font-weight: 340;
}
.login__leftLogo {
  width: 250px;
  /* background-color: lightgreen; */
  margin-bottom: 20px;
}
.login__right {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.359);
}
.login__rightForm > input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: 18px;
  outline-color: #4267b2;
}
.login__rightForm > input::placeholder {
  color: grey;
  font-size: 18px;
}
.login__rightForm > button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--fbblue);
  border: none;
  outline: none;
  cursor: pointer;
}
.login__right > p {
  margin: 10px;
  margin-bottom: 20px;
  color: var(--fbblue);
  font-size: 15px;
}
.login__rightBottom {
  padding-top: 25px;
  margin-bottom: 10px;
  border-top: 1px solid lightgrey;
  width: 100%;
  display: grid;
  place-items: center;
}
.login__rightBottom > button {
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #45a420;
}

.login__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff8f;
  display: grid;
  place-items: center;
}
.login__signupContainer {
  width: 450px;
  /* height: 600px; */
  background-color: white;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.359);
  border-radius: 10px;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
}
.login__signupTop {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}
.login__signupTopLeft > h2 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 3px;
}
.login__signupTopLeft > p {
  color: grey;
}
.login__signupBottom {
  width: 100%;
  padding: 15px;
}
.login__signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__signupFormNamesContainer {
  width: 100%;
  display: flex;
}
.login__signupFormFirstInput {
  margin-right: 10px;
}
.login__signupFormNameInput {
  flex: 1;
}
.login__signupFormGeneralInput {
  width: 100%;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  outline-color: var(--fbblue);
  font-size: 16px;
  padding: 0 10px;
}
.login__signupFormDOBContainer {
  width: 100%;
}
.login__signupFormDOBContainer > label {
  margin-bottom: 3px;
  color: grey;
  font-size: 14px;
}
.login__signupFormDOB {
  display: flex;
}
.login__signupFormDOBSelector {
  margin-right: 10px;
}
.login__signupFormDOBSelectors {
  flex: 1;
  height: 45px;
  border: 1px solid lightgrey;
  outline: var(--fbblue);
  background-color: white;
  border-radius: 10px;
  padding: 0 5px;
  color: grey;
  font-size: 16px;
}
.login__signupFormGender {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.login__signupFormGenderSelector {
  margin-right: 10px;
}
.login__signupFormGenderSelectorContainer {
  flex: 1;
  height: 40px;
  padding: 0 5px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: grey;
}
.login__signupFormDisclaimer {
  font-size: 12px;
  color: grey;
  line-height: 16px;
}
.login__signupForm > button {
  height: 40px;
  width: 200px;
  background-color: #45a420;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;
}
