.timeline__ {
  width: 100%;
  background-color: thistle;
}

.timeline__request {
  margin: 15px 0;
  padding: 10px;
  width: calc(100%-20px);
  background-color: white;
  border-radius: 10px;
}
.timeline__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.timeline__bottomLeft {
  width: 322px;
}
.timeline__bottomPhotos {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}
.timeline__bottomPhotosTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.timeline__bottomPhotosContainer {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 98px);
}
.timeline__bottomPhotosContainer > img {
  width: 98px;
  height: 98px;
}

.timeline__bottomFriends {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.timeline__bottomFriends > h3 {
  margin-bottom: 10px;
}
.timeline__bottomFriends > p {
  color: grey;
  font-size: 16px;
  margin-bottom: 10px;
}
.timeline__bottomFriendsContainer {
  width: calc(100% - 20px);
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 94px);
}

/* igbiygbyigbiygiug */
.timeline__bottomRight {
  width: 503px;
  /* background-color: white; */
  border-radius: 10px;
  /* padding: 10px; */
}
