.contactsList {
  width: 300px;
  margin: 0 20px;
  margin-top: 20px;
}
.contactsList__top {
  padding: 0 10px;
  margin-bottom: 10px;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contactsList__topIcons > * {
  margin: 0 10px;
}
