.searchModal {
  min-height: 200px;
  padding: 0 10px;
  /* width: 300px; */
  background-color: white;
  border: 1px solid lightgrey;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.searchModal__headerBackIcon {
  margin-left: 10px;
  margin-right: 20px;
}
.searchModal__header {
  height: 60px;
  display: flex;
  align-items: center;
}
.searchModal__headerSearch {
  height: 40px;
  background-color: #ebeaea;
  border-radius: 99px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.searchModal__headerSearchicon {
  color: grey;
}
.searchModal__headerSearch > input {
  border: none;
  outline: none;
  margin-left: 5px;
  height: 25px;
  background-color: var(--fbbg);
  font-size: 18px;
}
.searchModal__headerSearch > input::placeholder {
  color: grey;
  font-size: 18px;
}
